@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    background-color: #EFFEFF;
    font-family: "Poppins";
    font-weight: 400;
    background-image: url("images/noise.png"), url("images/background-blur.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-color: #FFFAED;
}

h1, h2, h3, h4{
    color: #144256;
    font-family: "Poppins";
    font-weight: 700;
}

h5, h6{
    color: #144256;
    font-family: "Poppins";
    font-weight: 600;
}


/* navbar */
nav {
    background-color: white;
    z-index: 3000;
}

.navbar ul {
    justify-content: flex-end;
    
}

.navbar .nav-item .nav-link {
    font-family: "Poppins";
    font-weight: 600;
    color: #FFFFFE;
    transition: all 0.3s ease 0s;
}

.navbar .nav-item .nav-link:hover{
    color: #FF7A60;
}

.nav-link.active {
    color: #FF7A60 !important;
  }

.navbar-brand img {
    width: 48px;
    height: 40px;
    align-items: center;
    position: absolute;
    top: 0.6em;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E57154;
    height: 80px;
    padding: .5rem 1rem;
}

.burger-image{
    max-width: 100%;
    z-index:100;
    position: relative;
    left: 2em;
}

.curved-path{
    font-size: 0.6em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 190px;
    fill: #244589;
}

.blob{
    z-index: -1;
    position: relative;
    height: auto;
}

.blob1{
    position: absolute;
    width: 30%;
    height: auto;
    left: 0em;
    top: -2em;
}

.blob2{
    position: absolute;
    width: 20%;
    height: auto;
    right: 0em;
    top: 0em;
}

.blob3{
    position: absolute;
    width: 20%;
    height: auto;
    left: 0em;
    top: 80vh;
}

.blob4{
    position: absolute;
    width: 25%;
    height: auto;
    right: 0vw;
    top: 60vh;
}

.blob5{
    position: absolute;
    width: 30%;
    height: auto;
    left: 20vw;
    top: 29em;
}

.blob6{
    position: absolute;
    width: 20%;
    height: auto;
    left: 60vw;
    top: 50em;
}

.blob7{
    position: absolute;
    width: 17%;
    height: auto;
    right: 3vw;
    top: 30em;
}

.blob8{
    position: absolute;
    width: 27%;
    height: auto;
    right: 10vw;
    top: 105vh;
}

.sh-logo{
    position: absolute;
    width: 55%;
    top: 30em;
    left: 21em;
}


.vertical-center{
    display:flex;
    align-items: center;
}

.horizontal-center{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.container{
    padding: 5% 0%;
}


/*About CSS*/

.about{
    top: 2.5em;
    position: relative;
    margin-top: -90%;
}

.bowl-noodles{

    position: absolute;
    width: 30%;
    height: auto;
    right: 0em;
    margin-top: -4%;
    margin-bottom: 10px;
    
}

.tomatoes{

    position: absolute;
    width: 48%;
    height: auto;
    left: 0em;
    margin-top: 4%;
    margin-bottom: 4%;
    
}

.olives{

    position: absolute;
    width: 28%;
    height: auto;
    right: 0em;
    margin-top: 10%;
    margin-bottom: 10px;
    
}
.about-heading{
    width: 85%;
    height: auto;
}
.about_shehacks{
    
    margin-top: 20%;
    margin-right: 0%;
}

.hacker-olympics{
    margin-top: 30%;
    margin-right: 0%;
}

.about-text{
    font-family: "Poppins";
    color: #244589;
    font-weight: 300;
    
}

.white-button{
    border-radius: 50px;
    color: #244589;
    background-color: #EFF3D7;
    font-family: "Poppins";
    font-weight: "semi-bold";
    
    border: none;
    box-shadow: 0px 3px 4px #F08F6559;
}


.backup-olives{
    display: none;
}

/*Past Events CSS*/
.lettuce{
    margin-left: 1.5%;
    z-index: 0;
    position: relative;
}

.backup-lettuce{
    display: none;
}

.past-events{
    top: 2.5em;
    position: relative;
    margin-top: -90%;
    margin-inline: 15%;
}

.past-events h4{
    font-family: "Poppins";
    color: #244589;
    font-weight: 700;
}

.past-events h5{
    font-family: "Poppins";
    color: #F08F65;
    font-weight: 300;
}

/**WITS section**/
.wits{
    top: 150em;
    position: relative;
    margin-top: -90%;
}
.fork-noodles{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0em;
    margin-top: 20%;
    margin-bottom: 4%;

}

.wits h4{
    font-family: "Poppins";
    color: #244589;
    font-weight: 700;
}

.wits-logo{
   width: 50%;
}
/*SheHacks Team*/

.headshot, img{
	width: 100%;
    padding: -40pc;
}

.team{
    padding: 0%;
}

.headshot:hover{
	opacity: 0.5;
	transition: all 0.3s ease 0s;	
}

.headshot-name{
	font-family: "Roboto";
	font-weight: 500;
}


@media (max-width:991px){
     .reverse-col{
        flex-direction:column-reverse;
        padding:5%;
    }

    .burger-image{
        top: 15%;
        max-width: 100%;
        z-index:100;
        position: relative;
        left: 2em;
    }

    .past-events{
        position: relative;
        margin-top: -90%;
        margin-inline: 15%;
    }
    
    .past-events h4{
        font-family: "Poppins";
        color: #244589;
        font-weight: 700;
        font-size: smaller;
    }

    .wits h4{
        font-family: "Poppins";
        color: #244589;
        font-weight: 700;
        font-size: smaller;
    }
    
    
    .past-events h5{
        font-family: "Poppins";
        color: #F08F65;
        font-weight: 300;
        font-size: smaller;
    }

  

    .about-text{
        font-family: "Poppins";
        color: #244589;
        font-weight: 300;
        font-size: smaller;
        
    }
    
}

@media (max-width: 768px){
    .past-events{
        position: relative;
        margin-top: -100%;
        margin-inline: 15%;
    }

    .burger-image{
        max-width: 90%;
        z-index:100;
        position: relative;
        left: 2em;
    }

    .about-text{
        font-family: "Poppins";
        color: #244589;
        font-weight: 300;
        font-size: smaller;
        
    }

    
}


@media (max-width: 576px){
    .burger-image{
        top: 5em;
        max-width: 80%;
        z-index:100;
        position: relative;
    }

    .lettuce{
        display: None;
    }

    .backup-lettuce{
        display: block;
        padding-inline: 5%;
    }
 
    .olives{
        display: none;
    }

    .past-events{
        position: relative;
        margin-top: -175%;
        margin-inline: 15%;
    }
    
    .past-events h4{
        font-family: "Poppins";
        color: #244589;
        font-weight: 700;
        margin: auto;
    }
    
    .past-events h4{
        font-family: "Poppins";
        color: #244589;
        font-weight: 700;
        margin: auto;
    }
    .past-events h5{
        font-family: "Poppins";
        color: #F08F65;
        font-weight: 300;
    }

    .about-text{
        font-family: "Poppins";
        color: #244589;
        font-weight: 300;
        font-size: smaller;
        
    }

    
}

@media (min-width: 992px){s
    h1{
        font-size: 120px;
    }
}


