@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    background-color: #EFFEFF;
    font-family: "Poppins";
    font-weight: 400;
    background-image: url("images/noise.png"), url("images/background-blur.png");
    background-size: cover;
    background-repeat: repeat-y;
}

h1, h2, h3, h4{
    color: #144256;
    font-family: "Poppins";
    font-weight: 700;
}

h5, h6{
    color: #144256;
    font-family: "Poppins";
    font-weight: 600;
}


/* navbar */
nav {
    background-color: white;
    z-index: 3000;
}

.navbar ul {
    justify-content: flex-end;
    
}

.navbar .nav-item .nav-link {
    font-family: "Poppins";
    font-weight: 600;
    color: #FFFFFE;
    transition: all 0.3s ease 0s;
}

.navbar .nav-item .nav-link:hover{
    color: #FF7A60;
}

.nav-link.active {
    color: #FF7A60 !important;
  }

.navbar-brand img {
    width: 48px;
    height: 40px;
    align-items: center;
    position: absolute;
    top: 0.6em;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E57154;
    height: 80px;
    padding: .5rem 1rem;
}

.content{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 5px;
}

.burger-image{
    position: absolute;
    top: 10em;
    max-width: 90%;
    left: 4em;
}

.curved-path{
    font-size: 0.6em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 190px;
    fill: #244589;
}

.blob1{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0em;
    top: -2em;
    
}

.blob2{
    position: absolute;
    width: 20%;
    height: 90%;
    right: 0em;
    top: 0em;
}

.blob3{
    position: absolute;
    width: 20%;
    height: 25%;
    left: 0em;
    top: 40em;
}

.blob4{
    position: absolute;
    width: 25%;
    height: 100%;
    right: 0em;
    top: 30em;
}

.blob5{
    position: absolute;
    width: 30%;
    height: 65%;
    left: 18em;
    top: 29em;
}

.blob6{
    position: absolute;
    width: 20%;
    height: 50%;
    left: 16em;
    top: 50em;
}

.blob7{
    position: absolute;
    width: 17%;
    height: 38%;
    right: 10em;
    top: 30em;
}

.blob8{
    position: absolute;
    width: 27%;
    height: 60%;
    right: 12em;
    top: 55em;
}

.sh-logo{
    position: absolute;
    width: 55%;
    top: 30em;
    left: 21em;
}


@media (min-width: 992px){s
    h1{
        font-size: 120px;
    }
}


@media (max-width: 576px){
    .content{
        min-height: 100vh;
    }

    .content h4{
        font-size: 1.3rem;
    }
}

@media (max-width:991px){
     .reverse-col{
        flex-direction:column-reverse;
        padding:5%;
    }
    .content{
        min-height: 100vh;
    }

    .content div{
        padding: 5% 0;
    }
}
